@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Modak&family=Quicksand:wght@300..700&family=Ranchers&family=Unkempt:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/marykate');
body {
    background-color: #fffae7;
    color: #020202;
    padding: 0px;
    text-align: center;
    margin: 0px;
}
header{
    background-color: #a45d83;
    color: #ffffff;
    padding: 1px;
    text-align: center;
    font-size: medium;
    margin-top: 0px;
    font-family: "Quicksand";
}
h3{
    margin: 0px;
    font-family: "Quicksand";
}
nav{
    background-color: #ffcde8;
    border-radius: 30px;
    padding: 17px;
    margin-left: 230px;
    margin-right: 230px;
}
a{
    padding: 50px;
    color: #020202;
    font-family: "Quicksand";
    font-size: medium;
    font-weight: 800;
}
.frase{
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 20px;
}
.texto{
    font-family: "Quicksand";
}
.busca{
    border-radius: 30px;
    width: 700px;
    background-color: #d9d9d9;
    padding: 10px;
    padding-left: 0px;
    margin: 40px;
    border-color: #d9d9d9;
    margin-left: 0px;
    margin-bottom: 0px;
}
.tipos{
    display: flex;
    justify-content: space-around;
}
select{
    font-size: 15px;
    height: 40px;
    background: #d9d9d9;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;
    display: flex;
    margin-top: 40px;
}
.livro{
    border-radius: 10px;
    margin-top: 30px;
    width: 170px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.colecao{
    background-color: #d9d9d9;
    border-radius: 30px;
    width: 250px;
    height: 380px;
    margin: 30px;
    font-family: "Quicksand";
    font-size: small;
    font-weight: 800;
}
button{
    border-radius: 30px;
    background-color: #a45d83;
    width: 100px;
    height: 30px;
    font-family: "Quicksand";
    font-weight: 800;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fffae7; 
    height: 100px; 
}
.logo img{
    height: 95px;
}
.icon-left{
    width: 60px;
    height: 60px;
}
.icon-right{
    width: 100px;
    height: 70px;
}
article{
    background-color: #ffcde8;
    border-radius: 30px;
    padding: 17px;
    margin-top: 30px;
    margin-left: 230px;
    margin-right: 230px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Quicksand";
}
.formu{
    border-radius: 30px;
    background-color: #f8f7f7;
    border-color: #f8f7f7;
    width: 750px;
    font-family: "Quicksand";
}
.cad{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}
.f{
    margin-left: 20px;
}
.form2{
    font-family: "Quicksand";
    display: flex;
    justify-content: space-evenly;
}
li, h5{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.meninas{
   display:flex;
   justify-content: flex-end;
   margin-left: 70px;
   margin-top: 20px;
}
