@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Modak&family=Quicksand:wght@300..700&family=Ranchers&family=Unkempt:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/marykate');
body {
    background-color: #fffae7;
    color: #020202;
    padding: 0px;
    text-align: center;
    margin: 0px;
}
header{
    background-color: #a45d83;
    color: #ffffff;
    padding: 1px;
    text-align: center;
    font-size: medium;
    margin-top: 0px;
    font-family: "Quicksand";
}
h3{
    margin: 0px;
    font-family: "Quicksand";
}
nav{
    background-color: #ffcde8;
    border-radius: 30px;
    padding: 17px;
    margin-left: 230px;
    margin-right: 230px;
    box-shadow: 2px 2px 4px #bdb9b9;
}
a{
    padding: 50px;
    color: #020202;
    font-family: "Quicksand";
    font-size: medium;
    font-weight: 800;
}
.frase{
    display: flex;
    justify-content: flex-start;
    margin-left: -40px;
    margin-top: 20px;
}
.f_livro{
    width: 600px;
}
.texto{
    font-family: "Quicksand";
    text-align: left;
    margin-left: 180px;
    font-size: larger;
    font-weight: 800;
}
.busca{
    border-radius: 30px;
    width: 700px;
    background-color: #ffdfcd;
    padding: 10px;
    padding-left: 0px;
    margin: 40px;
    border-color: #ffdfcd;
    border-style: none;
    margin-left: 0px;
    margin-bottom: 0px;
    box-shadow: 2px 2px 4px #bdb9b9;
}
.tipos{
    display: flex;
    justify-content: space-around;
}
select{
    font-size: 15px;
    height: 40px;
    background: #ffdfcd;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;
    border-style: none;
    display: flex;
    margin-top: 40px;
    box-shadow: 2px 2px 4px #bdb9b9;
}
.livro{
    border-radius: 10px;
    margin-top: 30px;
    width: 170px;
    height: 247.5px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}
.container2{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}
.colecao{
    background-color: #d9d9d9;
    border-radius: 30px;
    width: 250px;
    height: 380px;
    margin: 30px;
    font-family: "Quicksand";
    font-size: small;
    font-weight: 800;
    box-shadow: 2px 2px 4px #bdb9b9;
}
button{
    border-radius: 30px;
    background-color: #a45d83;
    width: 100px;
    height: 30px;
    font-family: "Quicksand";
    font-weight: 800;
    box-shadow: 2px 2px 4px #b1aeae;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fffae7; 
    height: 100px; 
}
.logo img{
    height: 95px;
}
.icon-left{
    width: 60px;
    height: 60px;
}
.icon-right{
    width: 100px;
    height: 70px;
}
article{
    background-color: #ffcde8;
    border-radius: 30px;
    padding: 17px;
    margin-top: 30px;
    margin-left: 230px;
    margin-right: 230px;
    box-shadow: 2px 2px 4px #bdb9b9;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Quicksand";
}
.formulario input{
    width: 920px;
    border-radius: 8px;
    padding: 5px;
    border: 2px solid #c71eb0;
}

.erro {
    display: none;
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.erro-visivel {
    display: block;
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.formu{
    border-radius: 30px;
    background-color: #f8f7f7;
    border-color: #f8f7f7;
    font-family: "Quicksand";
}
.cad{
    display: flex;
    flex-direction: row-reverse;
}
.f{
    margin-left: 20px;
}
.form2{
    font-family: "Quicksand";
    display: flex;
    justify-content: space-evenly;
}
li,h5{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
}
.meninas{
   display:flex;
   justify-content: flex-end;
   margin-left: 100px;
   margin-top: 45px;
}
.ft_meninas{
    width: 470px;
}
.girls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.fonte{
    font-family: "Quicksand";
}
.compra{
    display: flex;

}
.pedidos{
    display: flex;
    flex-direction: column;
    height: 220px;
}
.livro_ft{
    display: flex;
    height: 110px;
    margin-left: 130px;
    margin-top: 30px;
}
.livro_ft2{
    display: flex;
    height: 110px;
    margin-left: 130px;
    margin-top: 5px;
}
.ft{
    border-radius: 10px;
}
.livro_esc{
    display: flex;
    align-items: flex-end;
    font-family: "Quicksand";
    font-weight: 800;
    margin-left: 40px;
    margin-bottom: 0px;
    font-size: larger;
}
.res_final{
    background-color: #ffcde8;
    border-radius: 30px;
    width: 400px;
    height: 360px;
    margin-left: 140px;
    margin-top: 30px;
    font-family: "Quicksand";
    font-size: small;
    font-weight: 800;
    box-shadow: 2px 2px 4px #bdb9b9;
}
.conj{
    display: flex;
    flex-direction: row;
}
h2{
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
    font-family: "Quicksand";
}
.pagamento{
    margin-left: 80px;
}
.final{
    border-radius: 30px;
    background-color: #ffcde8;
    width: 170px;
    height: 50px;
    font-family: "Quicksand";
    font-weight: 800;
    font-size: large;
    box-shadow: 2px 2px 4px #b1aeae;
    border-color: #ffcde8;
    border-style: none;
}
.finalizar{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 155px;
}
.frete{
    background-color: #ffcde8;
    border-radius: 30px;
    width: 450px;
    height: 50px;
    margin-top: 10px;
    margin-left: 230px;
    margin-right: 230px;
    box-shadow: 2px 2px 4px #bdb9b9;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ft_frete{
    margin-left: 20px;
}
.encerra{
    display: flex;
}
.cep{
    border-radius: 30px;
    background-color: #f8f7f7;
    border-color: #f8f7f7;
    width: 250px;
    font-family: "Quicksand";
}
.calc{
    border-radius: 30px;
    background-color: #ffffff;
    width: 100px;
    height: 50px;
    font-family: "Quicksand";
    font-weight: 800;
    box-shadow: 2px 2px 4px #b1aeae;
    margin-left: 30px;
    border-style: none;
}
hr{
    border: 1px solid #ccc;
    margin-left: 100px;
    margin-top: 10px;
    width: 100%;
}
